.bg-head-info{
    background-color: #264653;
    
}
.purchase-btn{
    background-color: #E76F51;
    color: white;
    padding: 10px;
    
}
.grey-scaler{
    filter:grayscale(100%);
}
.specific{
    color:#E76F51;
}
.fa-star.empty{
    border-color:#E76F51 ;
    color:white;
}
.t-details{
    color: #23A6F0;
    font-size: 14px;
}
.t2-details{
   color: #252B42;
   font-size: 14px;
}
h1{
    font-size: 48px;
}
p{
    font-size: 16px;
}